@import "./Shops";
@import "./Header";
@import "./Cart";
@import "./shopCart";
@import "./input";
@import "./basket";



* {
  margin: 0;
  padding: 0;
}

.content {
  margin: 20px;

  
  .card {
    display: flex;
    height: 750px;
  }
  
 
}
