@import "./Shops";
@import "./Header";
@import "./Cart";
@import "./shopCart";
@import "./input";
@import "./basket";

* {
  margin: 0;
  padding: 0;
}

.content {
  margin: 20px;

  .card {
    display: flex;
    height: 750px;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
    @media (max-width: 500px) {
      nav {
        max-width: 300px;
        li{
          width: 150px;
        }
      }
     
    }
  }
}
