.shopCart{
    display: flex;
    margin: 20px;
}

.total{
    width: 800px;
    margin: 30px 900px;
    b{
        font-size: 22px;
        color: #645d5d;
    }
    button{
        height: 50px;
        width: 200px;
        border: 3px solid #b4afaf;
        border-radius: 15px;
        text-align: center;
        font-size: 22px;
        margin-left: 50px;
        color: #645d5d;

    }
}